* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Create left content column */
.content {
  float: left;
  width: 25%;
  padding: 15px;
}

/* Create left main column */
.main {
  float: left;
  width: 75%;
  padding: 15px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
